<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Get Code</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <center><h1>QUAN NGUYEN</h1></center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mail</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody id="listCode">

                </tbody>
        </div>
        <script src="./script.js"></script>
    </body>
</html>
